{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	<div class="col-lg-7 col-xl-6 col-xxl-4 col-sm-10 col-md-8 col-12  mx-auto mt-5 p-5 shadow-lg">

		<h2 class="text-center text-info">S'inscrire</h2>

		{{ form_start(registrationForm) }}
		{{ form_row(registrationForm.nom) }}
		{{ form_row(registrationForm.email) }}
		{{ form_row(registrationForm.plainPassword, {
            label: 'Mot de Passe'
        }) }}
		{{ form_row(registrationForm.agreeTerms) }}

		<button type="submit" class="btn btn-info w-100 text-white">Enregistrer</button>
		{{ form_end(registrationForm) }}
	</div>
{% endblock %}
