// $info:  #a003ae;

// $info: #4bafba;
$info: #03661d;
$warning: #CFC539;

.cardShadow {
    box-shadow:  0.150rem 0.150rem 0.55rem rgba(207, 197, 57, 0.5); /* Use rgba() for the color */
  }

  .cardBorder {
    border: .5px solid #CFC539;; /* Change the color and weight here */
  }

.topHeader{
    padding: 1px 0 1px 0;
}