.dropdown-toggle::after {
  content: none !important;
}

.cardShadow {
  box-shadow: 0.15rem 0.15rem 0.55rem rgba(207, 197, 57, 0.5);
}

.cardBorder {
  border: 0.5px solid #cfc539;
}

.topHeader {
  padding: 1px 0 1px 0;
}
.imgWidth {
  width: 260px;
}

@media screen and (max-width: 992px) {
  .imgWidth {
    width: 200px;
  }
}

/* 
@media (max-width: 768px) {

 }

 @media (max-width: 480px) {

} */
